# Source files
*.ts
!*.d.ts

# Test files
__tests__
*.test.js
*.spec.js

# Development configs
tsconfig.json
.prettierrc
.eslintrc
.editorconfig

# Git files
.git
.gitignore

# IDE files
.vscode
.idea

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules
package-lock.json

# Environment files
.env
.env.*
